@layer reset, global, components, overrides;

@import url("./reset.css") layer(reset);
@import url("./overrides.css") layer(reset);

@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@layer global {
  html {
    --headline-text: #1c1c1c;
    --body-text: #595566;
    --yellow: #ffcc4a;
    --green: #4eaf4e;
    --black: #181818;
    --grey: #f5f5f5;
    --white: #ffffff;

    --fluid-30-50: clamp(1.875rem, 1.4402rem + 2.1739vw, 3.125rem);
    --fluid-24-45: clamp(1.5rem, 1.0435rem + 2.2826vw, 2.8125rem);
    --fluid-20-40: clamp(1.25rem, 0.8152rem + 2.1739vw, 2.5rem);
    --fluid-18-35: clamp(1.125rem, 0.7554rem + 1.8478vw, 2.1875rem);
    --fluid-17-30: clamp(1.0625rem, 0.7799rem + 1.413vw, 1.875rem);
    --fluid-16-25: clamp(1rem, 0.8043rem + 0.9783vw, 1.5625rem);
    --body: 1rem;

    color: var(--body-text);
    font-size: var(--body);
    line-height: 1.3;
    font-family: "lato";
    --font-weight-600: 600;
    --font-weight-700: 700;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--headline-text);
    font-family: "cabin";
  }
  h1 {
    font-size: var(--fluid-30-50);
    font-weight: var(--font-weight-600);
  }

  h2 {
    font-size: var(--fluid-24-45);
    font-weight: var(--font-weight-600);
  }

  h3 {
    font-size: var(--fluid-20-40);
    font-weight: var(--font-weight-600);
  }

  h4 {
    font-size: var(--fluid-18-35);
    font-weight: var(--font-weight-600);
  }

  h5 {
    font-size: var(--fluid-17-30);
    font-weight: var(--font-weight-700);
  }

  h6 {
    font-size: var(--fluid-16-25);
    font-weight: var(--font-weight-700);
  }
}
