---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import EmployeeSection from "../components/EmployeeSection.astro";
import Button from "../components/Button.astro";

import { ViewTransitions } from "astro:transitions";

const employeeData = await fetch("https://raw.githubusercontent.com/ceciliejadach/frontend-design/main/resources/json/employees.json").then((res) => res.json());

// const firstThreeEmployees = employeeData.slice(0, 3);
---

<BaseLayout title="Home">
  <h1>Welcome to Astro</h1>
  <EmployeeSection data={employeeData} />
  <EmployeeSection data={employeeData} theme="dark" />

  <Button variant="primary" text="Our Services" />
  <Button variant="secondary" text="Our Services" />
  <Button variant="tertiary" text="More News" />
</BaseLayout>

<style>
  [data-icon] {
    width: 24px;
  }
</style>
