---
const { text, variant, size } = Astro.props;
---

<!-- <a href={url}> -->
<button class={variant + " " + size}>
  <p>{text}</p>
</button>
<!-- </a> -->

<style>
  @layer components {
    button {
      padding: 1rem 1.9375rem;
      border-radius: 42px;
      transition:
        background-color 0.2s,
        color 0.2s;
      font-size: var(--body);
      outline: none;
      border: none;
      cursor: pointer;
      white-space: nowrap;
      width: fit-content;
    }

    .primary {
      background: var(--black);
      color: var(--white);
    }

    .primary:hover {
      background-color: var(--white);
      color: var(--black);
      outline: solid 2px var(--black);
    }

    .secondary {
      background-color: var(--white);
      color: var(--black);
    }

    .secondary:hover {
      background-color: var(--yellow);
    }

    .tertiary {
      background: var(--yellow);
      color: var(--black);

      &:hover {
        background: oklch(from var(--yellow) calc(l - 0.05) c h);
      }
      &:active {
        background: oklch(from var(--yellow) calc(l - 0.1) c h);
      }
    }
  }
</style>
