---
import EmployeeCard from "./EmployeeCard.astro";

const { data, theme = "light" } = Astro.props;
---

<section data-theme={theme}>
  {data.map((employee) => <EmployeeCard {employee} />)}
</section>

<style>
  @layer components {
    [data-theme="dark"] {
      --bg-section: white;
      --text-section: white;
      --bg-card: blue;
      --text-color: blue;
    }
    section {
      --bg-section: red;
      --text-section: white;
      --bg-card: blue;
      --text-color: white;
      padding: 2rem;
      color: var(--text-color);
      background: var(--bg-section);
    }
  }
</style>
