---
import Button from "./Button.astro";
import Hero from "../assets/images/hero.png";
---

<section class="break-out-content full-bleed">
  <div class="background-container">
    <div class="text-content">
      <h1>Adam Buschemia <br /> Business Consultant</h1>
      <p class="col-wh">Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
      <Button variant="secondary" text="Book a meeting" />
    </div>
    <img src={Hero.src} alt="" />
  </div>
  <div class="boxes">
    <div>
      <h6>Finance & Restructuring</h6>
      <p class="col-wh">Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
      <Button variant="primary" text="Our Services" />
    </div>
    <div>
      <h6>Our Approach</h6>
      <p class="col-wh">Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
      <Button variant="primary" text="More About" />
    </div>
    <div>
      <h6>Consultalk Result</h6>
      <p class="col-wh">Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
      <Button variant="primary" text="Explore Our Solution" />
    </div>
  </div>
</section>

<style>
  @layer components {
    section {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr auto auto;

      & > div:first-child {
        grid-column: 1 / -1;
        grid-row: 1 / 3;
        display: grid;
        grid-template-columns: subgrid;
        background: var(--black);
        align-items: start;
        position: relative;

        &::before {
          --square-count: 10;
          --square-size: 1rem;

          --_square-size: var(--square-size, 1rem);
          --_square-half: calc(var(--square-size) / 2);
          --_square-sum: calc(var(--square-count) * var(--square-size));
          z-index: -1;
          content: "";

          position: absolute;
          right: 0;
          top: 0;
          transform-origin: 0 0;
          inline-size: calc(round(var(--_square-sum), var(--_square-size)) - var(--_square-half));
          aspect-ratio: 0.7;
          background: linear-gradient(135deg, #be965d, #976f40, #c99b61, #f0be7b, #ffcb85, #eebc79, #c0935b, #976f40) 0 0 / 100% 100%;
          mask:
            var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
            var(--square-pattern) var(--_square-half) var(--_square-half) / var(--_square-size) var(--_square-size);
          /*clip-path: polygon(-3% 0%, 100% 0%, 100% 103%);*/
          /* rotate: -45deg; */
          z-index: 1;
        }
      }

      & > div:first-child > div {
        grid-column: 2/ 7;
        display: grid;
        gap: 1rem;
        padding: 2rem 1rem;

        :last-child {
          color: var(--black);
        }
      }

      & > div:first-child > img {
        grid-column: 7 / -1;
        grid-row: 1 / 3;
      }

      & > div:last-child {
        grid-column: 2 / -2;
        display: grid;
        grid-template-columns: inherit;
        align-self: end;
        margin-top: -6rem;
      }

      & > div:last-child > div {
        grid-column: span 4;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: rgba(38, 38, 38, 0.9);
        backdrop-filter: blur(16px);
        border-radius: 1.25rem;
        padding: min(3rem, 5%);
        width: min(65ch, 100% - 2rem);
        margin-inline: auto;
        display: grid;
        gap: 0.7rem;
      }

      h1,
      h6,
      .col-wh {
        color: var(--white);
      }
    }

    @media (width < 1024px) {
      section {
        & > div:first-child > div {
          grid-column: 1 / -1;
          padding: 3rem 3rem 8rem 3rem;
        }
        & > div:first-child > img {
          grid-column: 1/ -1;
          grid-row: 1 / -1;
        }

        & > div:last-child {
          grid-column: 1 / -1;
          /* grid-row: 3 / 4; */
          grid-row: auto;
          gap: 1rem;
          margin-top: -8rem;
          padding: 3rem;
        }

        & > div:last-child > div {
          grid-column: span 6;
        }
      }
    }

    @media (width < 768px) {
      section {
        grid-template-columns: 1fr;

        & > div:first-child {
          grid-row: auto;
        }

        & > div:first-child > div {
          grid-column: 1 / -1;
          grid-row: auto;
        }

        & > div:first-child > img {
          grid-row: 1;
        }

        & > div:last-child {
          grid-template-columns: 1fr;
        }

        & > div:last-child > div {
          grid-column: span 12;
        }

        & > div:first-child {
          &::before {
            left: -1rem;
            top: 15rem;
          }
      }
    }
  }
</style>
