---
import "../styles/global.css";
---

<header>
  <nav>
    <h5><a href="/">AskExperts</a></h5>
    <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/casestudy">Case Study</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
    <button></button>
  </nav>
</header>

<style>
  @layer components {
  }
</style>
