---

---

<section>
  <dl>
    <div>
      <dt>Successful Work</dt>
      <dd>1128+</dd>
    </div>
    <div>
      <dt>Team members</dt>
      <dd>908+</dd>
    </div>
    <div>
      <dt>Happy customers</dt>
      <dd>258+</dd>
    </div>
    <div>
      <dt>Creative Idea</dt>
      <dd>564+</dd>
    </div>
  </dl>
</section>

<style>
  @layer components {
    section {
      animation: --grow linear both;
      animation-timeline: view();
      animation-range: entry 100% contain 50%;
      dl {
        margin-block: 3rem;
        text-align: center;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;

        > * {
          display: flex;
          flex-direction: column-reverse;
          font-size: 1.125rem;
          color: #181818;

          :last-child {
            font-size: 3.125rem;
            font-weight: 500;
          }
        }
      }
    }
    @keyframes --grow {
      /* from {
        rotate: 180deg;
        opacity: 0;
      } */

      from {
        transform: translateX(-100vw); /* Starter uden for skærmen til venstre */
        opacity: 0; /* Usynlig ved start */
      }
      to {
        transform: translateX(0); /* Ender i midten af skærmen uden rotation */
        opacity: 1; /* Fuldt synlig ved slut */
      }
    }
  }
</style>
