---
import "../styles/global.css";

import { Icon } from "astro-icon/components";

import Button from "./Button.astro";

const { theme = "dark" } = Astro.props;
---

<section data-theme={theme}>
  <div>
    <div class="flex">
      <div>
        <span>Growing with our clients</span>
        <h4>Financial Projections</h4>
        <p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps.</p>
      </div>
      <div>
        <Button variant="secondary" text="Get in touch" />
      </div>
    </div>
  </div>
  <div>
    <ul>
      <li>
        <Icon name="ideas" />
        <h6>Creative Ideas</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget accumsan augue Donec aliquam.</p>
        <div>
          <a href="#">Read More</a>
          <span></span>
        </div>
      </li>
      <li>
        <Icon name="features" />
        <h6>Best Features</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div>
          <a href="#">Read More</a>
        </div>
      </li>
      <li>
        <Icon name="experience" />
        <h6>Experience</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget accumsan augue Donec aliquam.</p>
        <div>
          <a href="#">Read More</a>
        </div>
      </li>
      <li>
        <Icon name="solutions" />
        <h6>Easy Solutions</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div>
          <a href="#">Read More</a>
        </div>
      </li>
    </ul>
  </div>
</section>

<style>
  @layer components {
    [data-theme="light"] {
      --bg-section: var(--grey);
      --text-section: var(--body-text);
      --bg-card: var(--white);
    }
    section {
      --bg-section: var(--black);
      --text-section: var(--white);
      --bg-card: var(--card-bg);

      background: var(--black);
      color: var(--white);
      padding: 2rem 1rem;
      margin-inline: auto;

      .flex {
        display: grid;
        gap: 1rem;

        & > :first-child {
          max-width: 38rem;
        }
      }

      .flex span {
        background: var(--yellow);
        letter-spacing: 0.145rem;
        text-transform: uppercase;
        padding: 0rem 0.75rem;
        width: fit-content;
        border-radius: 25px;
      }

      [data-icon] {
        width: 3.40406rem;
        height: 3.40406rem;
      }

      & > :last-child ul {
        display: grid;
        grid-template-columns: repeat(4, auto);
        list-style: none;
        padding: 0;
        gap: 1rem;
        align-items: flex-start;
        justify-content: center;

        li {
          background: var(--grey);
          color: var(--black);
          padding: 2.25rem 1.4375rem;
          border-radius: 1.25rem;
          flex-basis: min(270px, 90%);
          display: grid;
          gap: 0.625rem;

          a {
            text-decoration: none;
            color: var(--black);
            font-weight: 600;
            font-size: 1.125rem;
            display: flex;
            gap: 0.4rem;
          }

          a::after {
            content: url("../icons/arrow.svg");
            align-self: center;
          }
        }
      }

      @media (width > 880px) {
        .flex {
          display: flex;
          gap: 1rem;
          justify-content: space-between;
          align-items: flex-end;
        }
      }
      @media (width < 920px) {
        & > :last-child ul {
          grid-template-columns: 1fr 1fr;
        }
      }

      @media (width < 500px) {
        & > :last-child ul {
          grid-template-columns: 1fr;
        }
      }
    }
  }
</style>
