---
import "../styles/global.css";
---

<section class="full-bleed">
  <div>
    <div class="flex">
      <div>
        <span>our team</span>
        <h4>We champion the bold to achieve the extraordinary</h4>
        <p>Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team.</p>
      </div>
      <div></div>
    </div>
  </div>
</section>

<style>
  @layer components {
    section {
      padding: 9rem 0 1rem;
      margin-inline: auto;

      .flex {
        display: grid;
        gap: 1rem;

        & > :first-child {
          max-width: 40rem;
        }
      }

      .flex span {
        background: var(--yellow);
        letter-spacing: 0.145rem;
        text-transform: uppercase;
        padding: 0rem 0.75rem;
        width: fit-content;
        border-radius: 25px;
        color: var(--black);
      }
    }
  }
</style>
